#!/usr/bin/sh

javac -cp ".;commons-collections-3.2.1.jar" *.java

counter=0

for p in {1..8}
do
  echo "Running on $p threads"
  let counter=0

  while [ $counter -lt 10 ]; do
    java -cp ".;commons-collections-3.2.1.jar" MainParKruskal $1 $p $2 $3 $4
    let counter=counter+1
  done
done
